  <div class="content_post" id="content">
  <div class="name_show">
    <div class="name">
      <a href= "/users/<%= (tweet.user.id) %>">
          <span>投稿者</span><%= tweet.user.name %>
        </a>
     </div>
     <div class="show">
        <%= link_to '詳細ページ', tweet_path(tweet.id), method: :get %>
     </div>
     </div>
      <p><%= tweet.text %></p>
        <div class="audio">
     <audio src= "<%= "#{tweet.file}" %>" controls="">
         <a src="<%= "#{tweet.file}" %>">ダウンロード</a>
     </audio>
     </div>
    </div >