<!DOCTYPE html>
<html>
  <head>
    <title>鼻歌掲示板</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <header class="header">
        <h1 class="grid-6"><a href="/">鼻歌掲示板</a></h1>

         <% if user_signed_in? %>
            <ul class="user__info">
              <li>
                <%= link_to  "#{current_user.name}さんのページ", user_path(current_user.id) %>
                </li>
              <li>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
              </li>
             <li>
        <%= link_to "新規投稿", new_tweet_path, class: "post" %>
            </li>
            </ul> 
        <% else %>
          <ul class="user__info">
            <li>
            <%= link_to "ログイン", new_user_session_path, class: "post" %>
            </li>
            <li>
            <%= link_to "新規登録", new_user_registration_path, class: "post" %>
            </li>
          </ul>
        <% end %>
    </header>
    <%= yield %>
    
    <footer>
     
    </footer>
  </body>
</html>
